<h1>{{title}}</h1>
<p><a href='/'>Home</a></p>
<p>Details for Post {{id}}</p>
<p><a href='/posts/{{id}}/edit'>Edit This Post</a></p>

<h1>{{post.title}}</h1>
<img src="{{post.imgLink}}" width="200" alt="" />

<h3>{{post.lat}}</h3>
<h3>{{post.lng}}</h3>


<p>{{post.description}}</p>
