{{#if errors}}
<ul>
  {{#errors}}
  <li class='error'>{{this}}</li>
  {{/errors}}
</ul>
{{/if}}

<div class="post-details col-md-8 col-md-offset-2 col-xs-12">
  <button class="postDelete" data-post-id="{{post_id}}" type="button" name="delete">Delete</button>
  {{#post}}
  <div class="post-title">
    <h1>{{title}}</h1>

    <div class="post-rating-container">
      <form method="POST" action="/posts/{{post_id}}/upvote">
        <input type="image" src="/images/uparrow-green.png">
      </form>
      <h4 class="rating">{{rating}}</h4>
      <form method="POST" action="/posts/{{post_id}}/downvote">
        <input type="image" src="/images/downarrow-red.png">
      </form>

    </div>
  </div>
  <h4>Posted by: {{username}}</h4>

  <div class="post-map-image">
    <img src="{{img_link}}" alt="" />
    <div class="post-map" id="map" role="map" style= ></div>
  </div>

  <p class="post-description">{{description}}</p>
  {{/post}}

  <h2>Comments</h2>
  <hr>
  {{#comments}}
  <div class="comment-box" role="post's comments">
    <button class="commentDelete" data-comment-id="{{comment_id}}" type="button" name="delete">Delete</button>
    <p class='comment-text'>{{comment}}</p>
    <div class="comment-footer">
      <p class="comment-name">{{username}}</p>
      <p>{{created_at}}</p>
    </div>
  </div>
  <hr>
  {{/comments}}

  <h2>Leave a Comment!</h2>
  <form method="POST" action="/posts/comments/add/{{post_id}}">
    <fieldset class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" name='comment' id="comment" placeholder="Type Your Comment Here!"></textarea>
    </fieldset>
    <input type="submit" class="btn btn-primary btn-lg" value="Comment">
  </form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src='/javascripts/postsjava.js'></script>

<script type="text/javascript">
$('.postDelete').on('click', function(){
  var post_id = $(this).data('post-id');

  $.ajax({
    url: "/posts/" + post_id,
    type: 'DELETE',
    success: function(result) {
      if (result) {
        window.location='/';
      }
    }
  });

});
$('.commentDelete').on('click', function(){
  var comment_id = $(this).data('comment-id');
  var comment_box = $(this).parent();
  console.log('comment_id: ', comment_id);

  $.ajax({
    url: "/comments/" + comment_id,
    type: 'DELETE',
    success: function(result) {
      if (result) {
        $(comment_box).slideUp();
      }
    }
  });

});
</script>
