<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-10 col-md-8">
    <h1>Add a Post</h1>
  </div>
  <div class="col-xs-1 col-md-2"></div>
</div>

<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-10 col-md-8">
  </div>
</div>

<div class="row">

  <div class="col-xs-1 col-md-2"></div>
  <div class="col-xs-10 col-md-8">
    <div id="map" style='height: 400px; width: 100%;'></div>
  </div>

</div>

<div class="row">

  <div class="col-xs-1 col-md-2"></div>
  <div class="postform col-xs-10 col-md-8">

    <div class="location-container">
      <label for="location">Location</label>
      <div class="location-inputs">
        <input id="pac-input" class="controls" type="text" placeholder="Search here, click the map or use the 'Locate Me' button">
        <input id="geo" class="controls" type="button" value='Locate Me'>
      </div>
    </div>

    <form method="POST" action="/posts/add">
      <fieldset class="form-group">
        <label for="title">Title</label>
        {{#if erra}}
        <p class="error">{{error}}</p>
        <input type="text" class="form-control"  style='border: 1px solid red' name='title' id="title" autofocus="true">
        {{else}}
        <input type="text" class="form-control" name='title' id="title" autofocus="true" value="{{body.title}}">
        {{/if}}
      </fieldset>

      <fieldset class="form-group">
        <label for="img_link">Image Link</label>
        {{#if errb}}
        <p class="error">{{error}}</p>
        <input type="text" class="form-control" style='border: 1px solid red' name='img_link' id="img_link">
        {{else}}
        <input type="text" class="form-control" name='img_link' id="img_link" value="{{body.img_link}}">
        {{/if}}
      </fieldset>

      <fieldset class="form-group">
        <label for="description">Description</label>
        {{#if errc}}
        <p class="error">{{error}}</p>
        <textarea class="form-control" name='description' style='border: 1px solid red' id="description"></textarea>
        {{else}}
        <textarea class="form-control" name='description' id="description">{{body.description}}</textarea>
        {{/if}}
      </fieldset>
      <input type="submit" class="btn btn-primary btn-lg" value="Submit Post">
    </form>

  </div>
  <div class="col-xs-1 col-md-2"></div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6IF5KZuqMBt61jyVNQshduxTFUArNZY&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src='/javascripts/postMap.js'></script>
