<div class="login-container col-md-6 col-md-offset-3 col-xs-12">

  <h1>Sign Up<small></h1>

  <p>
    Have an account? <a href="/login">Click Here to Login!</a>
  <p/>
  <p>
    <a href="/auth/github" class="btn btn-lrg btn-social btn-github">
  <span class="fa fa-github"></span> Sign Up with GutHub</a>
</p>
  <p>If you don't have a GitHub account, you can create a new account below.</p>
  <p>All fields are <strong>Case Sensitive!</strong></p>

  <form method="POST" action="/auth/signup">
    <fieldset class="form-group">
      <label for="username">Username</label>

      {{#if erre}}
      <p class="error">{{erre}}</p>
      {{/if}}

      {{#if erra}}
      <p class="error">{{erra}}</p>
      <input type="text" style="border: 1px solid red" class="form-control" name='username' id="username" autofocus="true">
      {{else}}
      <input type="text" class="form-control" name='username' id="username" autofocus="true" value="{{body.username}}">
      {{/if}}
    </fieldset>

    <fieldset class="form-group">
      <label for="email">Email</label>
      {{#if errb}}
      <p class="error">{{errb}}</p>
      <input type="text" style="border: 1px solid red" class="form-control" name='email' id="email">
      {{else}}
      <input type="text" class="form-control" name='email' id="email" value="{{body.email}}">
      {{/if}}
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password</label>
      {{#if errc}}
      <p class="error">{{errc}}</p>
      <input type="password" style="border: 1px solid red" class="form-control" name='password' id="password">
      {{else}}
      <input type="password" class="form-control" name='password' id="password" value="{{body.password}}">
      {{/if}}
    </fieldset>

    <fieldset class="form-group">
      <label for="avatar">Avatar URL <small>Image should be square</small></label>
      {{#if errd}}
      <p class="error">{{errd}}</p>
      <input type="text" style="border: 1px solid red" class="form-control" name='avatar' id="avatar">
      {{else}}
      <input type="text" class="form-control" name='avatar' id="avatar" value="{{body.avatar}}">
      {{/if}}
    </fieldset>

    <input type="submit" class="btn btn-primary btn-lg" value="Sign Up">
  </form>

</div>
