<h1>{{title}}</h1>
<p>Edit info for User {{id}}</p>
<p>This page should only be accessible by User {{id}}</p>

<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="userform col-xs-10 col-md-8">

    <form method="POST" action="/users/{{id}}/edit">
      <fieldset class="form-group">
        <label for="name">Edit Your Username</label>
        <input type="text" class="form-control" name='name' id="name" value="{{username}}">
      </fieldset>
      <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Edit Username">
    </form>

  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-1 col-md-2"></div>
  <div class="userdelete col-xs-10 col-md-8">

    <form method="POST" action='/users/{{id}}/delete'>
      <fieldset class='form-group'>
      <label for='delete-account'>Delete This Account!</label>
    </fieldset>
      <input type="submit" name="delete" class="btn btn-danger btn-lg" value="Click Here To Permanently Delete This Account">
    </form>

  </div>
</div>
